<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GNUKhata | Create Account</title>
<style media="screen">
.modal-dialog{
  position: relative;
  display: table; //This is important
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 50%;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
	font-size: 60%;
}

th {
	font-size: 50%;
}

</style>
</head>

<body >
  <div id="m_accmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="container">
          <div class="alert alert-success" id="m_success-alert" hidden>
      			<a href="" class="close" aria-label="close">&times;</a>
      			Account created successfully.
      		</div>
      		<div class="alert alert-danger" id="m_failure-alert" hidden>
      			<a href="" class="close" aria-label="close">&times;</a>
      			Account could not be created.
      		</div>
      		<div class="alert alert-danger" id="m_blank-alert" hidden>
      			<a href="#" class="close" aria-label="close">&times;</a>
      			Please enter account name!
      		</div>

      		<div class="alert alert-danger" id="m_nsblank-alert" hidden>
      			<a href="#" class="close" aria-label="close">&times;</a>
      			Please enter new sub-group name!
      		</div>

      		<div class="alert alert-danger" id="m_grpblank-alert" hidden>
      			<a href="#" class="close" aria-label="close">&times;</a>
      			Please select group name!
      		</div>

      		<div class="alert alert-danger" id="m_sgrpblank-alert" hidden>
      			<a href="#" class="close" aria-label="close">&times;</a>
      			Please select sub-group name!
      		</div>

      		<div class="alert alert-danger" id="m_duplicate-alert" hidden>
      			<a href="#" class="close" aria-label="close">&times;</a>
      			Account already exists!
      		</div>

      		<div style="padding-top:5px" class="mainbox col-md-6">
      			<div class="panel panel-info shadow" >
      				<div class="panel-heading">
      					<div class="panel-title">Create Account</div>

      				</div>

      				<div style="padding-top:5px" class="panel-body" >


      					<form id="m_accountform" method="post"  action="addaccount" class="form-horizontal">

      						<div style="margin-bottom: 5px" class="col-xs-12 from-group">
      							<label for="groupname" id="m_gname"><u>G</u>roup Name :</label>
      							<select class = "form-control gsselect input-sm" id="m_groupname"  name = "groupname" accesskey="g">
      								<option value="" disabled selected hidden>Select Group</option>
      								{% for grps in gkresult %}
      								<option value="{{grps['groupcode']}}">{{grps["groupname"]}}</option>
      								{% endfor %}
      							</select>
      							<br/>
      							<label for="subgroupname" id="m_sname">Sub-Group <u>N</u>ame :</label>
      							<select class = "form-control gsselect input-sm" id="m_subgroupname" name="subgroupname" accesskey="n">
      								<option value="" disabled selected hidden>Select Sub-Group</option>
      							</select>
      							<br/>
      							<div id="m_nsgp" style="margin-bottom: 25px" class="input-group">
      								<label for="newsubgroup" id="m_newsgrp">New Sub-Gro<u>u</u>p Name :</label>
      								<input type="text" id="m_newsubgroup" class="form-control input-sm" name="newsubgroup" placeholder="New Sub-Group Name" accesskey="u" ></input>
      							</div>
      							<label for="accountname" id="m_accname"><u>A</u>ccount Name :</label>
      							<input type="text" id="m_accountname" class="form-control input-sm" name="accountname" accesskey="a"></input>
      							<br/>
      							<label for="openbal" id="m_obal"><u>O</u>pening Balance :</label>
      							<input id="m_openbal" name="openbal" value="0.00" style="text-align:right" class=" form-control input-sm" type="text" placeholder="0.00" accesskey="o"/>
      							<br/>
      							<button type="submit" class="btn btn-primary btn-sm" id="m_submit" name="submit" accesskey="s"><u>S</u>ave</button>

      						</div>
      					</form>
      				</div>
      			</div>
      		</div>
      		<div style="padding-top:5px" class="col-md-6 shadow" id="m_baltbl">
      			<table class="table table-condensed">
      				<thead>
      					<tr class="success">
      						<th class="col-xs-6">{{baltbl[0]}}</th>
      					</tr>
      					<tr class="info">
      						<th class="col-xs-6">Group Name</th>
      						<th class="col-xs-3">No. of accounts</th>
      						<th class="col-xs-3">Group Balance</th>
      					</tr>
      				</thead>
      				<tbody>
      					{% for i in range(1,5) %}
      					<tr>
      						<td class="col-xs-6">{{baltbl[i]["groupname"]}}</td>
      						<td class="col-xs-3" align="right">{{baltbl[i]["numberofaccounts"]}}</td>
      						<td class="col-xs-3" align="right">{{baltbl[i]["groupbalance"]}}</td>
      					</tr>
      					{% endfor %}
      					<tr class="info">
      						<th class="col-xs-6">Total</th>
      						<th class="col-xs-3"></th>
      						<td class="col-xs-3" align="right"><b>{{baltbl[5]["Total"]}}</b></td>
      					</tr>
      				</tbody>
      			</table>
      			<table class="table table-condensed">
      				<thead>
      					<tr class="success">
      						<th class="col-xs-6">{{baltbl[6]}}</th>
      					</tr>
      					<tr class="info">
      						<th class="col-xs-6">Group Name</th>
      						<th class="col-xs-3">No. of accounts</th>
      						<th class="col-xs-3">Group Balance</th>
      					</tr>
      				</thead>
      				<tbody>
      					{% for i in range(7,((baltbl|length)-2)) %}
      					<tr>
      						<td class="col-xs-6">{{baltbl[i]["groupname"]}}</td>
      						<td class="col-xs-3" align="right">{{baltbl[i]["numberofaccounts"]}}</td>
      						<td class="col-xs-3" align="right">{{baltbl[i]["groupbalance"]}}</td>
      					</tr>
      					{% endfor %}
      					<tr class="info">
      						<th class="col-xs-6">Total</th>
      						<th class="col-xs-3"></th>
      						<td class="col-xs-3" align="right"><b>{{baltbl[((baltbl|length)-2)]["Total"]}}</b></td>
      					</tr>
      					<tr class="info">
      						<th class="col-xs-6">Difference in Total</th>
      						<th class="col-xs-3"></th>
      						<td class="col-xs-3" align="right"><b>{{baltbl[((baltbl|length)-1)]["Difference in balance"]}}</b></td>
      					</tr>
      				</tbody>
      			</table>
      		</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createaccountpopup.js')}}"></script>
</body>
</html>
