<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GNUKhata | Create Account</title>
	<style media="screen">
	.modal-dialog{
		position: relative;
		display: table; //This is important
		overflow-y: auto;
		overflow-x: auto;
		width: auto;
		min-width: 300px;
	}

	table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 65%;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead, table.table-fixedheader>tfoot {
    overflow-y: scroll;
    height: 26px;
  }
  table.table-fixedheader>tfoot {
    width: 99%
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;

  }

	.rightJustified {
		text-align: right;
	}

	.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	td {
		font-size: 80%;
	}

	th {
		font-size: 70%;
	}


	</style>

</head>
<body >
	<div class="container-fluid">

		<div class="alert alert-success" id="success-alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			Account created successfully.
		</div>
		<div class="alert alert-danger" id="failure-alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			Account could not be created.
		</div>
		<div class="alert alert-danger" id="blank-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Please enter account name!
		</div>

		<div class="alert alert-danger" id="nsblank-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Please enter new sub-group name!
		</div>

		<div class="alert alert-danger" id="grpblank-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Please select group name!
		</div>

		<div class="alert alert-danger" id="sgrpblank-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Please select sub-group name!
		</div>

		<div class="alert alert-danger" id="duplicate-alert" hidden>
			<a href="#" class="close" aria-label="close">&times;</a>
			Account already exists!
		</div>

		<div style="padding-top:5px" class="mainbox col-md-6">
			<div class="panel panel-info shadow" >
				<div class="panel-heading">
					<div class="panel-title">Create Account</div>

				</div>

				<div style="padding-top:5px" class="panel-body" >


					<form id="accountform" method="post"  action="addaccount" class="form-horizontal">

						<div style="margin-bottom: 5px" class="col-xs-12 from-group">
							<label for="groupname" id="gname"><u>G</u>roup Name :</label>
							<select class = "form-control gsselect input-sm" id="groupname"  name = "groupname" accesskey="g">
								<option value="" disabled selected hidden>Select Group</option>
								{% for grps in gkresult %}
								<option value="{{grps['groupcode']}}">{{grps["groupname"]}}</option>
								{% endfor %}
							</select>
							<br/>
							<label for="subgroupname" id="sname">Sub-Group <u>N</u>ame :</label>
							<select class = "form-control gsselect input-sm" id="subgroupname" name="subgroupname" accesskey="n">
								<option value="" disabled selected hidden>Select Sub-Group</option>
							</select>
							<br/>
							<div id="nsgp" style="margin-bottom: 25px" class="input-group">
								<label for="newsubgroup" id="newsgrp">New Sub-Gro<u>u</u>p Name :</label>
								<input type="text" id="newsubgroup" class="form-control input-sm" name="newsubgroup" placeholder="New Sub-Group Name" accesskey="u" ></input>
							</div>

							<label> <input type="checkbox" id="maccounts" accesskey="m"> Create <u>M</u>ultiple Accounts</label>
							<br/>
							<label for="accountname" id="accname"><u>A</u>ccount Name :</label>
							<input type="text" id="accountname" class="form-control input-sm" name="accountname" accesskey="a"></input>
							<br/>
							<label for="openbal" id="obal" hidden><u>O</u>pening Balance :</label>
							<input id="openbal" name="openbal" value="0.00" style="text-align:right" class=" form-control input-sm" type="text" placeholder="0.00" accesskey="o" hidden/>
							<br/>
							<button type="submit" class="btn btn-primary btn-sm" id="submit" name="submit" accesskey="s"><u>S</u>ave</button>
							<button id="reset" class="btn btn-danger btn-sm" accesskey="r"><u>R</u>eset</button>

						</div>
					</form>
				</div>
			</div>
		</div>
		<div style="padding-top:5px" class="col-md-6 shadow" id="baltbl" >
			<table class="table table-condensed">
				<thead>
					<tr class="success">
						<th class="col-xs-6">{{baltbl[0]}}</th>
					</tr>
					<tr class="info">
						<th class="col-xs-6">Group Name</th>
						<th class="rightJustified col-xs-3">No. of accounts</th>
						<th class="rightJustified col-xs-3">Group Balance</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(1,5) %}
					<tr>
						<td class="col-xs-6">{{baltbl[i]["groupname"]}}</td>
						<td class="col-xs-3" align="right">{{baltbl[i]["numberofaccounts"]}}</td>
						<td class="col-xs-3" align="right">{{baltbl[i]["groupbalance"]}}</td>
					</tr>
					{% endfor %}
					<tr class="info">
						<th class="col-xs-6">Total</th>
						<th class="col-xs-3"></th>
						<td class="col-xs-3" align="right"><b>{{baltbl[5]["Total"]}}</b></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-condensed">
				<thead>
					<tr class="success">
						<th class="col-xs-6">{{baltbl[6]}}</th>
					</tr>
					<tr class="info">
						<th class="col-xs-6">Group Name</th>
						<th class="rightJustified col-xs-3">No. of accounts</th>
						<th class="rightJustified col-xs-3">Group Balance</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(7,((baltbl|length)-2)) %}
					<tr>
						<td class="col-xs-6">{{baltbl[i]["groupname"]}}</td>
						<td class="col-xs-3" align="right">{{baltbl[i]["numberofaccounts"]}}</td>
						<td class="col-xs-3" align="right">{{baltbl[i]["groupbalance"]}}</td>
					</tr>
					{% endfor %}
					<tr class="info">
						<th class="col-xs-6">Total</th>
						<th class="col-xs-3" ></th>
						<td class="col-xs-3" align="right"><b>{{baltbl[((baltbl|length)-2)]["Total"]}}</b></td>
					</tr>
					<tr class="info">
						<th class="col-xs-6">Difference in Total</th>
						<th class="col-xs-3"></th>
						<td class="col-xs-3" align="right"><b>{{baltbl[((baltbl|length)-1)]["Difference in balance"]}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="multiaccount_modal" >
		</div><!-- /.modal -->

	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createaccount.js')}}"></script>
</body>
</html>
