
<!DOCTYPE HTML >
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />


  <style>
  .content{ margin-top:4%
  }
  </style>



</head>
<body>

  <div class="nav navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><img src="{{request.static_url('gkwebapp:static/images/icon.svg')}}" alt="GNUKhata Icon" style="width:42px;height:42px;margin-top: -11px" /></a>
        <a class="navbar-brand" >GNUKhata</a>

      </div>

      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a data-toggle="tab" id="selectnav" href="#selectorg" accesskey="s"> <span class="sr-only">Select Existing Organisation</span><u>S</u>elect Existing Organisation</a></li>
          <li><a data-toggle="tab" id="createnav" href="#createorg" accesskey="c"><u>C</u>reate Organisation</a></li>

        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="tab-content">
    <div id="about" class="tab-pane fade ">


    </div>
    <div id="selectorg" class="tab-pane fade in active">


    </div>
    <div id="createorg" class="tab-pane fade">

    </div>

  </div>


  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/index.js')}}"></script>

</body>
</html>
