<html>
<head>
  <title>GNUKhata | </title>
  <link href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{request.static_url('gkwebapp:static/css/mainshellstyle.css')}}" rel="stylesheet" type="text/css"/>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><img src="{{request.static_url('gkwebapp:static/images/icon.svg')}}" alt="GNUKhata Icon" style="width:42px;height:42px;margin-top: -11px" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="" id="gnukhata" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>G</u>NUKhata</a>
            <ul class="dropdown-menu">
              <li><a data-toggle="tab" id="logout" href="">Logout</a></li>
              <li><a data-toggle="tab" id="changeorg" href="">Change Organisation</a></li>
              <li><a data-toggle="tab" id="quit" href="">Quit</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="master" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>M</u>aster</a>
            <ul class="dropdown-menu">
              <li><a data-toggle="tab" id="addaccount" href="">Create Account</a></li>
              <li><a data-toggle="tab" href="" id="editaccount">Edit Account</a></li>
              <li><a data-toggle="tab" href="" id="showeditorg">Edit Organisation</a></li>
              <li><a data-toggle="tab" id="showproject" href="">Project</a></li>
              <li><a href="">Bank Reconciliation Statement</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="transaction" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>T</u>ransaction</a>
            <ul class="dropdown-menu">
              <li><a data-toggle="tab" id="showcontra" href="">Contra</a></li>
              <li><a data-toggle="tab" id="showpayment" href="">Payment</a></li>
              <li><a data-toggle="tab" id="showreceipt" href="">Receipt</a></li>
              <li><a data-toggle="tab" id="showjournal" href="">Journal</a></li>
              <li><a data-toggle="tab" id="showsales" href="">Sales</a></li>
              <li><a data-toggle="tab" id="showpurchase" href="">Purchase</a></li>
              <li><a data-toggle="tab" id="showcreditnote" href="">Credit Note</a></li>
              <li><a data-toggle="tab" id="showdebitnote" href="">Debit Note</a></li>
              <li><a data-toggle="tab" id="showsalesreturn" href="">Sales Return</a></li>
              <li><a data-toggle="tab" id="showpurchasereturn" href="">Purchase Return</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="report" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>R</u>eport</a>
            <ul class="dropdown-menu">
              <li><a href="" data-toggle="tab" id="showviewledger">Ledger</a></li>
              <li><a href="" data-toggle="tab" id="showtrialbalance">Trial Balance</a></li>
              <li><a href="" data-toggle="tab" id="showprjstate">Project Statement</a></li>
              <li><a href="" data-toggle="tab" id="showcashflow">Cash Flow</a></li>
              <li><a href="" id="showbalancesheet" data-toggle="tab">Statement of Affairs</a></li>
              <li><a href="" data-toggle="tab" id="showprofitloss">Income and Expenditure Account</a></li>
              <li><a href="" data-toggle="tab" id="listofaccounts">List of Accounts</a></li>
              <li><a href="" data-toggle="tab" id="fevoucher">Find and Edit Voucher</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="administration" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>A</u>dministration</a>
            <ul class="dropdown-menu">
              <li><a data-toggle="tab" id="createuser" href="">New User</a></li>
              <li><a data-toggle="tab" id="REMOVEuser" href="">Remove User</a></li>
              <li><a href="">Change Password</a></li>
              <li><a data-toggle="tab" id="showclosebooks" href="">Close Books/Roll Over</a></li>
              <li><a href="">Delete Organisation</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" id="help" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><u>H</u>elp</a>
            <ul class="dropdown-menu">
              <li><a href="">GNUKhata Manual</a></li>
              <li><a href="">Authors</a></li>
              <li><a href="">GNUKhata License</a></li>
              <li><a href="">About GNUkhata</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" id="toolbar" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Toolbar</a>
            <ul class="dropdown-menu scrollable">
              <li><a data-toggle="tab" id="addaccounttb" href="">Create/Edit Account - F2</a></li>
              <li><a data-toggle="tab" id="listofaccountstb" href="">List of Accounts - CTRL+L</a></li>
              <li><a data-toggle="tab" id="ledgertb" href="">Ledger - F3</a></li>
              <li><a data-toggle="tab" id="contratb" href="">Contra - F4</a></li>
              <li><a data-toggle="tab" id="paymenttb" href="">Payment - F5</a></li>
              <li><a data-toggle="tab" id="receipttb" href="">Receipt - F6</a></li>
              <li><a data-toggle="tab" id="journaltb" href="">Journal - F7</a></li>
              <li><a data-toggle="tab" id="salestb" href="">Sales - F8</a></li>
              <li><a data-toggle="tab" id="purchasetb" href="">Purchase - F9</a></li>
              <li><a data-toggle="tab" id="creditnotetb" href="">Credit Note - CTRL+F2</a></li>
              <li><a data-toggle="tab" id="debitnotetb" href="">Debit Note - CTRL+F3</a></li>
              <li><a data-toggle="tab" id="salesreturntb" href="">Sales Return - CTRL+F4</a></li>
              <li><a data-toggle="tab" id="purchasereturntb" href="">Purchase Return - CTRL+F5</a></li>
              <li><a data-toggle="tab" id="trialbalancetb" href="">Trial Balance - CTRL+F7</a</li>
              <li><a data-toggle="tab" id="listofaccountstb" href="">Income & Expenditure - CTRL+F8</a></li>
              <li><a data-toggle="tab" id="statementofaffairstb" href="">Statement of Affairs - CTRL+F9</a></li>
              <li><a data-toggle="tab" id="cashflowtb" href="">Cash Flow - CTRL+F10</a></li>
              <li><a data-toggle="tab" id="projectstatementtb" href="">Project Statement - CTRL+F11</a></li>
              <li><a data-toggle="tab" id="brstb" href="">Bank Reconciliation Statement - CTRL+F12</a></li>
              <li><a data-toggle="tab" id="projecttb" href="">Project - CTRL+E</a></li>
              <li><a data-toggle="tab" id="findvouchertb" href="">Find Voucher - CTRL+F</a></li>
              <li><a data-toggle="tab" id="logouttb" href="">Logout - CTRL+G</a></li>
              <li><a data-toggle="tab" id="changeogtb" href="">Change Organisation - H</a></li>
              <li><a data-toggle="tab" id="quittb" href="">Quit - CTRL+Q</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <ul class="shadow" style="list-style-type: none; margin-top: 52px; padding: 0; overflow: hidden; background-color: rgb(248,248,248); height: 20px;">
    <li style="float: left;"><a style="margin-left: 10px; display: block; color: #333; padding: 1px 1px; text-decoration:, none;" id="orgdata" href=""></a></li>
    <li style="float: right;"><a style="margin-right: 10px; display: block; color: #333; padding: 1px 1px; text-decoration: none;" id="yeardata" href=""></a></li>
  <ul>
</div>
<div id="info" style="margin-top: 10px; margin-bottom: 10px;" class="container-fluid tab-pane fade in active"></div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.autotab.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.numeric.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/shortcut.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/date.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/mainshell.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/showvoucher.js')}}"></script>
</body>
</html>
