<!DOCTYPE html>
<html>
<head>


	<title>
		GNUKhata | Remove User
	</title>
</head>
<body>


<div class="container-fluid">
		<div id="removeuser" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-4">
			<div class="panel panel-info" class="col-md-offset-4" >
				<div class="panel-heading">
					<div class="panel-title" >Remove User</div>
				</div>

				<div style="padding-top:30px" class="panel-body" >
					<div class="alert alert-danger" id="remove-blank-alert" hidden>
						<a href="#" class="close" aria-label="close">&times;</a>
						Please select User!
					</div>

					<div class="alert alert-success" id="remsuccess-alert" hidden>
						<a href="" class="close" aria-label="close">&times;</a>
						User removed successfully.
					</div>
					<div class="alert alert-success" id="accessdenied-alert" hidden>
						<a href="" class="close" aria-label="close">&times;</a>
						You are not allowed to remove this user.
					</div>
					<div class="alert alert-success" id="actiondisallowed-alert" hidden>
						<a href="" class="close" aria-label="close">&times;</a>
						The action is disallowed temporarily.
					</div>
					<div class="alert alert-success" id="connectionfailed-alert" hidden>
						<a href="" class="close" aria-label="close">&times;</a>
						Coonection Failed.
					</div>
					<div id="connectionFailed" center hidden><h3> <center>Connection Failed.</h3></center></div>
					<div id="unauthorizedaccess" center hidden><h3>You are not authorized to access this data</h3></div>
			<form id="removeUserform" class="form-horizontal" method="delete" >

						<div style="margin-bottom: 25px" class="col-md-4 col-md-offset-3">

							<label for="Username"><u>U</u>sername:</label>
              <select class = "form-control input-sm" id="username"  name = "username" >
                <option value="" disabled selected hidden>--Select User--</option>
                {% for user in  Users%}
                <option value="{{user['userid']}}">{{user["username"]}}</option>
                {% endfor %}
              </select>
						  <br/><br>
							<button id="remove" class="btn btn-primary btn-sm" accesskey="v">Remo<u>v</u>e</button>
							<button id="cancel" class="btn btn-primary btn-sm" accesskey="c"><u>C</u>ancel</button>

						</div>
					</form>
					<div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">

									<h4 class="modal-title">Remove</h4>
								</div>
								<div class="modal-body">
									<p>Are you sure?</p>
								</div>
								<div class="modal-footer">
									<button type="button" id ="m_yes" class="btn btn-warning" data-dismiss="modal">Yes</button>
									<button type="button" id="m_no" data-dismiss="modal" class="btn btn-danger">No</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

				</div>
			</div>

		</div>

	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/removeuser.js')}}"></script>




</body>

</html>
